version: '3.8'

services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    init: true
    command: sleep infinity
    volumes:
      - ..:/workspaces/heatsync
    network_mode: "host"

volumes:
  postgres-data: