version: "3.8"

services:
  devcontainer:
    build:
      context: .
      dockerfile: Dockerfile
    init: true
    command: sleep infinity
    volumes:
      - ../..:/workspaces/heatsync
    networks:
      - app-network

  mosquitto:
    image: eclipse-mosquitto:latest
    restart: unless-stopped
    networks:
      - app-network
    ports:
      - "1884:1884"
    volumes:
      - ./mosquitto/config/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./mosquitto/config/passwordfile:/mosquitto/config/passwordfile

networks:
  app-network:
    driver: bridge
